@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0; 
}

body{
    font-family: 'Poppins', sans-serif ;
    color: #353535ff;
    background-color: #d9d9d9ff;
}

#mini-bio {
    text-align: center;
}

.container-fluid{
    padding: 0;
    margin: 0;
}

.row{
    padding: 0;
    margin: 0;
}

#carouselpic{
    padding: 0;
    margin: 0;
}

.carousel-item{
    padding: 0;
    margin: 0;
}

.carousel-item img{
   max-width: 100%;
}

/* Will Style the Side by Side paragraphs */
.sidebyside{
    padding: 0 2%;
    color: #d9d9d9ff;
    background-color: #284b63ff;
}

.sidebyside h2{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}