@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0; 
}

body{
    font-family: 'Poppins', sans-serif ;
    color: #353535;
    background-color: #d9d9d9;
}

#mini-bio {
    padding: 25px 10px;
    text-align: center;
}

#mini-bio h1{
    padding: 25px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

/* CSS to fix Carousel padding and margins */
.container-fluid{
    padding: 0;
    margin: 0;
}

.row{
    padding: 0;
    margin: 0;
}

#carouselpic{
    padding: 0;
    margin: 0;
}

.carousel-item{
    padding: 0;
    margin: 0;
}

.carousel-item img{
   max-width: 100%;
}

/* Will Style the Side by Side paragraphs */
.sidebyside{
    padding: 25px 2%;
    color: #d9d9d9;
    background-color: #284b63;
}

.sidebyside h2{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

#contact-me-list {
    font-size: 20px;
    color: #284b63;
    list-style-type: none;
    padding: 25px 0;
    margin: 0 auto;
    max-width: 450px;
}

.social-networks {
    padding-top: 75px;
}

.social-networks li a i{
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 15px;
    color: #353535;
}
